html {
  line-height: 1.12;
  box-sizing: border-box!important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  &::before{
    box-sizing: border-box!important;
  }
  &::after{
    box-sizing: border-box!important;
  }
}

::after::before {
  box-sizing: border-box !important;
}

body {
  user-select: none !important;
  text-rendering: geometricPrecision;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: 'Lora', serif;
  scroll-behavior: smooth !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  scrollbar-width: thin !important;
  -ms-overflow-style: none !important;

}

.hov_red_under_score:hover{
  text-decoration: underline;
  color: red;
  font-weight: bolder;
}
